{{define "partials/head"}}

<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1"
  />
  <title>Inventaire • MonÉquilibreUL</title>
  <!-- Favicon -->
  <link
    rel="icon"
    href="/static/favicon/favicon.ico"
    type="image/x-icon"
  />
  <link
    rel="shortcut icon"
    href="/static/favicon/favicon.ico"
    type="image/x-icon"
  />
  <!-- HTMX import -->
  <script type="module" src="/static/js/htmx.min.js"></script>
  <!-- Material icons related imports -->
  <link rel="stylesheet" href="/static/css/main.css" />
  <script type="module" crossorigin src="/static/js/main.js"></script>
  <!-- material icons related imports -->
  <link rel="stylesheet" href="/static/css/material-icons.css" />
  <link
    rel="stylesheet"
    href="/static/fonts/material-icons-latin-400-normal.woff"
  />
  <link
    rel="stylesheet"
    href="/static/fonts/material-icons-latin-400-normal.woff2"
  />
  <!-- Tailwind related imports -->
  <link href="/static/css/output.css" rel="stylesheet" />
</head>
{{end}}
