<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <title>Inventaire • MonÉquilibreUL</title>

    <!-- Material icons related imports -->
    <link rel="stylesheet" href="/static/css/main.css" />
    <script
      type="module"
      crossorigin
      src="/static/js/main.js"
    ></script>
    <script type="module" src="/static/js/htmx.min.js"></script>
    <link rel="stylesheet" href="/static/material-icons.css" />
    <link
      rel="stylesheet"
      href="/static/fonts/material-icons-latin-400-normal.woff"
    />
    <link
      rel="stylesheet"
      href="/static/fonts/material-icons-latin-400-normal.woff2"
    />
    <!-- Tailwind related imports -->
    <link href="/static/css/output.css" rel="stylesheet" />
  </head>
  <body>
    <div>
      <h1 class="text-3xl font-bold underline">Hello world!</h1>
    </div>

    <!-- Form to add new item -->
    <div>
      <form
        hx-post="/items"
        hx-target="#items-list"
        hx-swap="beforeend"
        hx-trigger="submit"
      >
        <label for="name">Item Name</label>
        <input
          class="outline"
          type="text"
          name="name"
          id="name"
          required
        />
        <button
          type="submit"
          class="rounded-full bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700"
        >
          Add Item
        </button>
      </form>
    </div>

    <!-- List of items -->
    <div>
      <ul class="todo-list" id="items-list">
        <!-- Assuming the server renders the items dynamically -->
        {{ range . }}
        <li class="view">
          <input class="toggle" type="checkbox" />
          <label>{{ .Name }}</label>
        </li>
        {{ end }}
      </ul>
    </div>
  </body>
</html>
